*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-section{
    width: 100%;
    float: left;
    padding-top: 100px;
    padding-bottom: 0px;
}
.container-1{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
}
.contact-taital{
    width: 100%;
    font-size: 40px;
    color: #252525;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;
    position: relative;
    padding: 0 0 10px 0;
    line-height: normal;
    margin: 0;
}
.container-2{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.contact-section-2{
    width: 100%;
    float: left;
    padding-top: 55px;
}
.mail-section{
    width: 50%;
    margin: 0 auto;
}
.mail-text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2e2e2d;
    border: 0;
    background-color: #efefef;
    padding: 11px 20px;
    margin-top: 20px;
    border-radius: 40px;
    font-family: sans-serif;
}
input{
    margin: 0;
}
.message-bt{
    color: #2e2e2d;
    width: 100%;
    font-size: 18px;
    background-color: #efefef;
    padding: 40px 20px 0px 20px;
    border: 0px;
    height: 110px;
    margin-top: 20px;
    border-radius: 40px;
    font-family: sans-serif;
}
.send-bt{
    width: 170px;
    margin: 0 auto;
    text-align: center;
}
.send-bt a{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fefefd;
    background-color: #f01c1c;
    padding: 10px;
    margin-top: 20px;
    display: block;
    border-radius: 40px;
}
.send-bt a:hover{
    background-color: #efefef;
    color: #2e2e2d;
}
a{
    text-decoration: none;
    outline: none;
    transition: all .3s ease-in-out;
}